{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<script>
    var vm = avalon.define({
        $id: "project",
        id: "{{entry.ID}}",
        name: "",
        description: "",
        testsuites: [],
        username: "",
        createtime: "",
        emails: "",
        state: "",
        statistics: {},
        testjobs: [],
        progressurl: "http://" + window.location.host + "/progress/"
    });

    function fillProject() {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/project/" + vm.id,
            datatype: "json",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                vm.id = data.ID;
                vm.name = data.Name;
                vm.description = data.Description;
                vm.testsuites = data.TestSuites;
                vm.username = data.UserName;
                vm.createtime = data.CreateTime;
                vm.emails = data.Emails;
                vm.state = data.State;
                vm.statistics = data.Statistics;
            }
        })
    }

    function filljobs() {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/jobs/projectid=" + vm.id,
            datatype: "json",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                vm.testjobs = data.sort(by("StartTime")).reverse();
            }
        })
    }

    function genprogressurl(projectid, jobid) {
        return "http://localhost:8080/progress/" + "projectid=" + projectid + "&jobid=" + jobid;
    }

    fillProject();
    filljobs();

    $(document).ready(function () {
        document_ready_event_handler();
    });

</script>
<div id="page_header">
    <h2>Project - {{ entry.Name }}</h2>
</div>

<div id="data">
    <h3>Overall Statistics</h3>
    <div id="statistics" style="float: left">
        <table class="t3">
            <thead>
                <tr>
                    <th id="stat_priority" class="textCell">Case Priority</th>
                    <th id="stat_amount" class="digitCell">Amount</th>
                    <th id="stat_exec" class="digitCell">Executed</th>
                    <th id="stat_execRate" class="digitCell">Exec Rate</th>
                    <th id="stat_pass" class="digitCell">Passed</th>
                    <th id="stat_passRate" class="digitCell">Pass Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr class="data">
                    <td class="textCell">Must Do</td>
                    <td class="digitCell">{{ entry.Statistics.MustDo }}</td>
                    <td class="digitCell">{{ entry.Statistics.MustDoExecuted }}</td>
                    <td class="digitCell">{{ entry.Statistics.MustDoExecuteRate }}</td>
                    <td class="digitCell">{{ entry.Statistics.MustDoPassed }}</td>
                    <td class="digitCell">{{ entry.Statistics.MustDoPassRate }}</td>
                </tr>
                <tr class="data">
                    <td class="textCell">Important</td>
                    <td class="digitCell">{{ entry.Statistics.Important }}</td>
                    <td class="digitCell">{{ entry.Statistics.ImportantExecuted }}</td>
                    <td class="digitCell">{{ entry.Statistics.ImportantExecuteRate }}</td>
                    <td class="digitCell">{{ entry.Statistics.ImportantPassed }}</td>
                    <td class="digitCell">{{ entry.Statistics.ImportantPassRate }}</td>
                </tr>
                <tr class="data">
                    <td class="textCell">Nice To Have</td>
                    <td class="digitCell">{{ entry.Statistics.NiceToHave }}</td>
                    <td class="digitCell">{{ entry.Statistics.NiceToHaveExecuted }}</td>
                    <td class="digitCell">{{ entry.Statistics.NiceToHaveExecuteRate }}</td>
                    <td class="digitCell">{{ entry.Statistics.NiceToHavePassed }}</td>
                    <td class="digitCell">{{ entry.Statistics.NiceToHavePassRate }}</td>
                </tr>
                <tr class="data">
                    <td class="textCell">Total</td>
                    <td class="digitCell">{{ entry.Statistics.Total }}</td>
                    <td class="digitCell">{{ entry.Statistics.TotalExecuted }}</td>
                    <td class="digitCell">{{ entry.Statistics.TotalExecuteRate }}</td>
                    <td class="digitCell">{{ entry.Statistics.TotalPassed }}</td>
                    <td class="digitCell">{{ entry.Statistics.TotalPassRate }}</td>
                </tr>
            </tbody>
        </table>

        <p>
            * Pass Rate = Passed / Executed
        </p>
    </div>

    <div>
        <table class="t1">
            <thead>
                <tr>
                    <th class="tc_detail"></th>
                    <th class="tc_name">Case</th>
                    <th class="tc_env">Environment</th>
                    <th class="tc_priority">Priority</th>
                    <th class="tc_runtime">Run Time</th>
                    <th class="tc_state">State</th>
                    <th class="tc_result">Result</th>
                    <th class="tc_comment">Comment</th>
                    <th class="tc_action">Action</th>
                </tr>
            </thead>
            <tbody ms-controller="project">
                    <tr ms-repeat-testsuite="testsuites">
                        <td colspan="9" class="td_suite">
                            <table class="t_suite" ms-repeat-testcase="testsuite.TestCases">
                                <tr class="data">
                                    <td></td>
                                    <td class="tc_detail"><a id="toggleDetail" class="toggle" href="javascript:;">▼</a></td>
                                    <td class="tc_name">{{ testcase.Name|angular }}</td>
                                    <td class="tc_env">{{ testcase.Environment|angular }}</td>
                                    <td class="tc_priority">{{ testcase.Priority|angular }}</td>
                                    <td class="tc_runtime">{{ testcase.TestJob.FormattedRunningTime|angular }}</td>
                                    <td class="tc_state">{{ testcase.TestJob.Status|angular }}</td>
                                    <td class="tc_result">{{ testcase.TestJob.JobResult|angular }}</td>
                                    <td class="tc_comment">{{ testcase.TestJob.CommentsCount|angular }}</td>
                                    <td class="tc_action">
                                        <button class="actionButton level1_button_size canDisable" ms-visible="testcase.TestJob.Status != 'Running'">Run</button>
                                        <button class="actionButton level1_button_size canDisable" ms-visible="testcase.TestJob.Status == 'Running'">Stop</button>
                                    </td>
                                </tr>
                                <tr class="detail">
                                    <td colspan="10">
                                        <table class="t2">
                                            <thead>
                                                <tr>
                                                    <th>Job Id</th>
                                                    <th>Machine Name</th>
                                                    <th>Machine IP</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Status</th>
                                                    <th>Result</th>
                                                    <th>Result File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ms-repeat-testjob="testjobs" ms-if-loop="testjob.LinkID == testcase.LinkID">
                                                    <td><a ms-attr-href="{{progressurl|angular}}projectid={{id|angular}}&jobid={{testjob.ID|angular}}">{{testjob.ID|angular}}</a></td>
                                                    <td><span>{{testjob.TestMachineName|angular}}</span></td>
                                                    <td>{{testjob.TestMachineIP|angular}}</td>
                                                    <td class="time">{{testjob.StartTime|angular}}</td>
                                                    <td class="time">{{testjob.EndTime|angular}}</td>
                                                    <td>{{testjob.Status|angular}}</td>
                                                    <td>{{testjob.JobResult|angular}}</td>
                                                    <td>{{testjob.ResultPackagePath|angular}}</td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}