{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<div id="data">
    <script>
        $(function () {
            $("#progressbar").progressbar({
                value: 37
            });
        });

        //avalon.config({
        //    interpolate: ["<#", "#>"]
        //});

        var projects = avalon.define({
            $id: "projects",
            projecturl: "http://localhost:8080/project/",
            projectsgroup: []
        })

        function fillProjects() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/projects",
                datatype: "json",
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    projects.projectsgroup = data.sort(by("CreateTime")).reverse();
                }
            })
        }

        fillProjects();
        var projectstable = document.getElementById('data'),
            buttons = projectstable.getElementsByTagName('button');

        projectstable.onclick = function (ev) {
            var ev = ev || window.event,
                target = ev.target || ev.srcElement;
            for (var i = 0, l = buttons.length; i < l; i++) {
                if (buttons[i] === target) {
                    alert(buttons[i].innerHTML);
                }
            }
        }

        $(document).ready(function () {
            document_ready_event_handler();
        });
    </script>
    <table class="t1">
        <thead>
            <tr>
                <th id="p_detail"></th>
                <th id="p_name">Name</th>
                <th id="p_owner">Owner</th>
                <th id="p_submitTime">Submit Time</th>
                <th id="p_state">State</th>
                <th id="p_passrate">Pass Rate</th>
                <th id="p_action">Action</th>
            </tr>
        </thead>
        <tbody ms-controller="projects" ms-repeat-project="projectsgroup">
            <tr class="data">
                <td><a id="toggleDetail" class="toggle" href="javascript:;">▼</a></td>
                <td><a ms-attr-href="{{ projecturl|angular }}{{project.ID|angular}}">{{project.Name|angular}}</a></td>
                <td><span>{{ project.UserName|angular }}</span></td>
                <td><span>{{ project.CreateTime|angular }}</span></td>
                <td><span>{{ project.State|angular }}</span></td>
                <td>
                    <div id="progressbar"></div>
                </td>
                <td>
                    <button class="actionButton level1_button_size canDisable" ms-visible="project.State != 'Running'">Run</button>
                    <button class="actionButton level1_button_size canDisable" ms-visible="project.State == 'Running'">Stop</button>
                    <button class="actionButton level1_button_size canDisable" ms-attr-disabled="project.State == 'Running'">Delete</button>
                </td>
            </tr>
            <tr class="detail">
                <td colspan="9">
                    <table class="t2">
                        <tr>
                            <th>Id:</th>
                            <td><span>{{project.ID|angular}}</span></td>
                        </tr>
                        <tr>
                            <th>Emails:</th>
                            <td><span>{{project.Emails}}</span></td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td><span>{{project.Description}}</span></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}