{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<div ms-controller="hello">
    <h1 ms-duplex="name">Hello, {{name|angular}}</h1>
    <input ms-duplex="name" />
    <button ms-click="click">Click</button>
</div>
<script>
    var vm = avalon.define({
        $id: "hello",
        name: "Avalon from javascript",
        click: function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/projects",
                dataType: "json",
                processData: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) { alert(JSON.stringify(data)); }
            });
        }
    })
</script>
{% endblock %}